@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&amp;display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    background: rgb(0,0,0);
}

.center {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.center h1 {
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin:0;
    margin-bottom: 1rem;
    font-size:7rem;
}

.center p {
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

button {
    padding: 9px 25px;
    background: hsla(213, 4%, 46%, 1);
    background: linear-gradient(90deg, rgb(0, 89, 255) 0%, rgb(7, 189, 52) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#71757A", endColorstr="#174DB8", GradientType=2 );
    border:none;
    border-radius: 5px;
    size: 7rem;
    cursor:pointer;
    transition: all .3s cubic-bezier(0.42, 0, 0.37, 1.87);
}

button:hover {
    transform: scale(1.03);
}

.btns {
    padding: 9px 25px;
    background: linear-gradient(90deg, rgba(23,44,199,1) 0%, rgba(144,70,255,1) 82%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border:none;
    border-radius: 6px;
    cursor:pointer;
    transition: all .3s cubic-bezier(0.42, 0, 0.37, 1.87);
}

.btns:hover {
    transform: scale(1.05);
}
